* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "MyCustomeFont";
  src: url("fonts/Norsebold.otf") format("opentype");
}

body {
  display: flex;
  height: 100vh;
  font-family: "inter", sans-serif;
}

.left {
  position: relative;
  background: url(assets/background-image.jpg);
  background-position: center;
  background-size: cover;
  width: 30%;
  height: 100vh;
}

.transparent {
  position: absolute;
  background-color: hsla(0, 0%, 0%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  top: 17vh;
  padding: 20px 0;
}

img[src*="lined"] {
  width: 5rem;
}

.odin {
  font-family: "MyCustomeFont", sans-serif;
  color: white;
  font-size: 5rem;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 15px;
  color: white;
  width: 100%;
  left: 0;
  font-size: 1rem;
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.right {
  width: 70%;
  background-color: #f9fafb;
}

.firstP {
  margin: 75px 40px 50px;
}

.firstP > p:last-child {
  margin-top: 30px;
}

.bold-one {
  font-weight: bold;
  line-height: 1.4rem;
  width: 70%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 40px;
  box-shadow: 1px 3px 5px grey;
  margin-bottom: 50px;
}

.bold-one:last-of-type {
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 550px;
  column-gap: 50px;
  row-gap: 15px;
}

.con {
  flex: 1 1 calc(40% - 20px);
  max-width: 240px;
  margin: 10px 0;
  padding-right: 10px;
}

label {
  display: block;
  font-size: 0.75rem;
}

input {
  width: 100%;
  border: 1px solid grey;
  padding: 7px;
  border-radius: 5px;
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}

input:focus {
  border-color: blue;
  outline: none;
}

button {
  margin-left: 40px;
  padding: 10px 20px;
  background-color: #596d48;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 30px;
}

.login {
  margin-left: 40px;
}

.green {
  color: #596d48;
  font-weight: 700;
}
